
/* notice the keyframes are declared after when they are called */
/* also, you can call these in multiple elements however you'd like */
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
